@import "variables";
@import "mixinxs";

.ribs-container {
	width: 100%;
	
	* {
		box-sizing: border-box;
	}
	
	.row {
		box-sizing: border-box;
		display: flex;
		flex: 0 1 auto;
		flex-direction: row;
		flex-wrap: wrap;
		
		@include alignment("xs");
		@include alignment("sm");
		@include alignment("md");
		@include alignment("lg");
		
		@include grid-column("cxs");
		
		@media all and #{$media-mobile} {
			@include grid-column("csm");
		}
		
		@media all and #{$media-tablet} {
			@include grid-column("cmd");
		}

		@media all and #{$media-desktop} {
			@include grid-column("clg");
		}
	}
}