.text-center {
	text-align: center;
}

.gutter-b {
	margin-bottom: $gutter-width !important;
}

.mt-05 {
	margin-top: 0.5rem !important;
}

.mr-05 {
	margin-right: 0.5rem !important;
}

.mb-05 {
	margin-bottom: 0.5rem !important;
}

.ml-05 {
	margin-left: 0.5rem !important;
}

@for $i from 0 through 20 {
	.m-#{$i} {
		margin: #{$i}rem !important;
	}
	
	.mt-#{$i} {
		margin-top: #{$i}rem !important;
	}
	
	.mr-#{$i} {
		margin-right: #{$i}rem !important;
	}
	
	.mb-#{$i} {
		margin-bottom: #{$i}rem !important;
	}
	
	.ml-#{$i} {
		padding-left: #{$i}rem !important;
	}
	
	.p-#{$i} {
		padding: #{$i}rem !important;
	}
	
	.pt-#{$i} {
		padding-top: #{$i}rem !important;
	}
	
	.pr-#{$i} {
		padding-right: #{$i}rem !important;
	}
	
	.pb-#{$i} {
		padding-bottom: #{$i}rem !important;
	}
	
	.pl-#{$i} {
		padding-left: #{$i}rem !important;
	}
}
